/* mobile nav */

.text-color {
    color: #7b1fa2;
}

/* flash messages */

.flashes h4 {
    line-height: 3px;
}

/* recipe page  */

.recipe_name_heading {
    font-weight: bold;
    font-size: 20px;
}

/* page and footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../../static/images/cake-background.jpg");
  }

main {
    flex: 1 0 auto;
  }
