/* --------------------------- mobile nav --------------------------------- */

.text-color {
    color: #d84315;
}

/* -------------------------- flash messages -------------------------------- */

.flash-message {
    text-align: center;
    color: black;
    background-color: white;
    opacity: 0.8;
    padding-bottom: 0.5px;
}

/* ------------------------- index page -------------------------------- */

.intro-header {
    font-size: 40px;
    text-align: center;
    color: black;
}

.intro-paragraph {
    font-size: 20px;
    text-align: center;
    color: black;
}

.index-panel {
    margin-top: 40px;
    opacity: 0.8;
}

/* --------------- login, sign up page ----------------- */

.login-sign-up-panel {
    opacity: 0.8;
    margin-top: 40px;
}

.btn-large {
    background-color: #388e3c;
    opacity: 1;
}

.sign-up-login-link {
    font-size: 20px;
    text-align: center;
    color: black
}

/* ------------------ recipe book page ------------------------ */

.recipe-intro-panel {
    opacity: 0.8;
    margin-top: 40px;
}

.recipe-page-heading{
    text-align: center;
    margin-bottom: 50px;
}

.recipe-book-intro {
    font-size: 20px;
    text-align: center;
    color: black;
}

.search-card-panel {
    opacity: 0.8;
    margin-top: 20px;
}

.search-bar {
    margin-top: 20px;
}

.btn {
    background-color: #388e3c;
}

.recipe-information {
    font-size: 20px;
    font-weight: 550;
}

.recipe_name_heading {
    font-weight: bold;
    font-size: 30px;
}

/* ---------------------------- background image and footer ------------------------ */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../../static/images/cake-background.jpg");
  }

main {
    flex: 1 0 auto;
  }
