/* mobile nav */

.text-color {
    color: #7b1fa2;
}

/* flash messages */

.flashes h4 {
    line-height: 3px;
}

/* index page */

.intro-header {
    font-size: 40px;
    text-align: center;
    color: black;
}

.intro-paragraph {
    font-size: 20px;
    text-align: center;
    color: black;
}

.index-panel-styling {
    opacity: 0.8;
}

/* login, sign up page */
.login-sign-up-panel-styling {
    opacity: 0.8;
    margin-top: 40px;
}

.btn-large {
    background-color: #388e3c;
    opacity: 1;
}

.sign-up-login-link {
    font-size: 20px;
    text-align: center;
    color: black
}

/* recipe book page  */

.recipe_name_heading {
    font-weight: bold;
    font-size: 20px;
}

/* page and footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../../static/images/cake-background.jpg");
  }

main {
    flex: 1 0 auto;
  }
