{% extends "base.html" %}
{% block content %}
    
<!-- edit recipe form -->
<div class="row">
    <div class="card-panel col s12 edit-recipe-card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <h2 class="edit-recipe-heading">Edit Recipe</h2>
            <div class="row">
            <!-- recipe name -->
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix"></i>
                    <input id="recipe_name" name="recipe_name" minlength="4" maxlength="40"
                        value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
            <!-- recipe description -->
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                            maxlength="200" class="materialize-textarea" required>
                            {{- recipe.recipe_description -}}
                    </textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <div class="row">
            <!-- baking time -->
                <div class="col s6">
                    <i class="fas fa-clock prefix"></i>
                    <input id="baking_time" name="baking_time" minlength="1" maxlength="20"
                            value="{{ recipe.baking_time }}" type="text" class="validate" required>
                    <label for="recipe_name">Baking Time (minutes)</label>
                </div>
                <div class="col s6">
            <!-- preparation time -->
                    <i class="fas fa-clock prefix"></i>
                    <input id="preparation_time" name="preparation_time" minlength="1" maxlength="20"
                            value="{{ recipe.preparation_time }}" type="text" class="validate" required>
                    <label for="preparation_time">Preparation Time (minutes)</label>
                </div>
            </div>
            <h4>Ingredients</h4>
            <br>
            <div class="row">
            <!-- ingredients and weight/amounts -->
            <!------------------------ one -------------------------->
                <div class="col s6">
                    <i class="fas fa-egg prefix"></i>
                    <input id="ingredient_one" name="ingredient_one" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_one }}" type="text" class="validate" required>
                    <label for="ingredient_one">Ingredient</label>
                </div>
                <div class="col s6">
                    <i class="fas fa-weight-hanging prefix"></i>
                    <input id="weight_one" name="weight_one" minlength="1" maxlength="20"
                            value="{{ recipe.weight_one }}" type="text" class="validate" required>
                    <label for="weight_one">Weight/Amount</label>
                </div>
            </div>
            <!------------------------ two -------------------------->
            <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_two" name="ingredient_two" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_two }}" type="text" class="validate">
                        <label for="ingredient_two">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_two" name="weight_two" minlength="1" maxlength="20"
                            value="{{ recipe.weight_two }}" type="text" class="validate">
                        <label for="weight_two">Weight/Amount</label>
                    </div>
                </div>
                <!------------------------ three -------------------------->
                <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_three" name="ingredient_three" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_three }}" type="text" class="validate">
                        <label for="ingredient_three">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_three" name="weight_three" minlength="1" maxlength="20"
                            value="{{ recipe.weight_three }}" type="text" class="validate">
                        <label for="weight_three">Weight/Amount</label>
                    </div>
                </div>
                <!------------------------ four -------------------------->
                <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_four" name="ingredient_four" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_four }}" type="text" class="validate">
                        <label for="ingredient_four">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_four" name="weight_four" minlength="1" maxlength="20"
                            value="{{ recipe.weight_four }}" type="text" class="validate">
                        <label for="weight_four">Weight/Amount</label>
                    </div>
                </div>
                <!------------------------ five -------------------------->
                <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_five" name="ingredient_five" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_five }}" type="text" class="validate">
                        <label for="ingredient_five">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_five" name="weight_five" minlength="1" maxlength="20"
                            value="{{ recipe.weight_five }}" type="text" class="validate">
                        <label for="weight_five">Weight/Amount</label>
                    </div>
                </div>
                <!------------------------ six -------------------------->
                <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_six" name="ingredient_six" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_six }}" type="text" class="validate">
                        <label for="ingredient_six">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_six" name="weight_six" minlength="1" maxlength="20"
                            value="{{ recipe.ingredient_six }}" type="text" class="validate">
                        <label for="weight_six">Weight/Amount</label>
                    </div>
                </div>
                <!------------------------ seven -------------------------->
                <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_seven" name="ingredient_seven" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_seven }}" type="text" class="validate">
                        <label for="ingredient_seven">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_seven" name="weight_seven" minlength="1" maxlength="20"
                            value="{{ recipe.weight_seven }}" type="text" class="validate">
                        <label for="weight_seven">Weight/Amount</label>
                    </div>
                </div>
                <!------------------------ eight -------------------------->
                <div class="row">
                    <div class="col s6">
                        <i class="fas fa-egg prefix"></i>
                        <input id="ingredient_eight" name="ingredient_eight" minlength="1" maxlength="50"
                            value="{{ recipe.ingredient_eight }}" type="text" class="validate">
                        <label for="ingredient_eight">Ingredient</label>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-weight-hanging prefix"></i>
                        <input id="weight_eight" name="weight_eight" minlength="1" maxlength="20"
                            value="{{ recipe.weight_eight }}" type="text" class="validate">
                        <label for="weight_eight">Weight/Amount</label>
                    </div>
                </div>
            <h4>Cooking Instructions</h4>
            <!-- instructions -->
                <!---------- one --------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix"></i>
                        <textarea id="instruction_one" name="instruction_one" minlength="5"
                            maxlength="500" class="materialize-textarea" required>
                            {{- recipe.instruction_one -}}
                        </textarea>
                        <label for="instruction_one">Step 1</label>
                    </div>
                </div>
                <!---------- two --------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix"></i>
                        <textarea id="instruction_two" name="instruction_two" minlength="5"
                            maxlength="500" class="materialize-textarea" required>
                            {{- recipe.instruction_two -}}
                        </textarea>
                        <label for="instruction_two">Step 2</label>
                    </div>
                </div>
                <!---------- three --------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix"></i>
                        <textarea id="instruction_three" name="instruction_three" minlength="5"
                            maxlength="500" class="materialize-textarea" required>
                            {{- recipe.instruction_three -}}
                        </textarea>
                        <label for="instruction_three">Step 3</label>
                    </div>
                </div>
                <!---------- four --------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix"></i>
                        <textarea id="instruction_four" name="instruction_four" minlength="5"
                            maxlength="500" class="materialize-textarea" required>
                        {{- recipe.instruction_four -}}
                        </textarea>
                        <label for="instruction_four">Step 4</label>
                    </div>
                </div>
                <!---------- five --------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix"></i>
                        <textarea id="instruction_five" name="instruction_five" minlength="5"
                            maxlength="500" class="materialize-textarea" required>
                        {{- recipe.instruction_five -}}
                        </textarea>
                        <label for="instruction_five">Step 5</label>
                    </div>
                </div>
                <!---------- six --------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen prefix"></i>
                        <textarea id="instruction_six" name="instruction_six" minlength="5"
                            maxlength="500" class="materialize-textarea" required>
                        {{- recipe.instruction_six -}}
                        </textarea>
                        <label for="instruction_six">Step 6</label>
                    </div>
                </div>
            <div class="row">
            <!-- submit and cancel buttons -->
                <div class="col s1"></div>
                    <button type="submit" class="col s4 btn-large green darken-2">
                        Edit Recipe <i class="fas fa-plus-circle"></i>
                    </button>
                <div class="col s2"></div>
                    <a href="{{ url_for('recipe_book') }}" class="col s4 btn-large red darken-1">
                        Cancel <i class="fas fa-times-circle prefix"></i>
                    </a>
                <div class="col s1"></div>
            </div>
        </form>
    </div>
</div>

{% endblock %}