{% extends "base.html" %}
{% block content %}

<div class="row">
    <h4 class="center-align">Welcome to Let's Get Baking!</h4>
    <p class="center-align">
        Everyone enjoys cakes, baking and eating them.
        On this website you can add your own recipes and share them with everbody or you can just browse
        the recipe book and bake the recipes already shared.<br>
        <strong>Come on! Let's Get Baking!</strong>
    </p>
</div>

    {% for recipe in recipes %}
        <h5>Recipe Name</h5>
            {{ recipe.recipe_name }}
        <h5>Recipe Description</h5>
            {{ recipe.recipe_description }}
        <h5>Baking Time (mins)</h5>
            {{ recipe.baking_time }}
        <h5>Preparation Time (mins)</h5>
            {{ recipe.preparation_time }}
        <h5>Ingredients</h5>
        <ol>
            <li>{{ recipe.ingredient_one }} - {{ recipe.weight_one }}</li>
        </ol>
        <p>Added by:<strong> {{ recipe.added_by }}</strong></p>
    {% endfor %}


{% endblock %}