{% extends "base.html" %}
{% block content %}

<!-- intro -->
<div class="row">
    <div class="col s12">
        <div class="card-panel index-panel">
            <h4 class="intro-header">Welcome to Let's Get Baking!</h4>
            <p class="intro-paragraph">
                Everyone enjoys cakes, baking and eating them.
                On this website you can add your own recipes and share them with everbody or you can just browse
                the recipe book and bake the recipes already shared.<br>
                <strong>Come on! Let's Get Baking!</strong>
            </p>
        </div>
    </div>
</div>

{% endblock %}