{% extends "base.html" %}
{% block content %}

<h2 class="header center-align">Recipe Book</h2>

<div>
    <ul class="collapsible popout">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header grey lighten-3">
                <h6>{{ recipe.recipe_name }}</h6>
            </div>
            <div class="collapsible-body"><span></span>
                <p>
                    <strong>Recipe Description</strong><br>
                    {{ recipe.recipe_description }}
                </p>
                <p>
                    <strong>Baking Time:</strong><br>
                    {{ recipe.baking_time }} (minutes)
                </p>
                <p>
                    <strong>Preparation Time:</strong><br>
                    {{ recipe.preparation_time }} (minutes)
                </p>
                <p>
                    <strong>Ingredients</strong><br>
                    {{ recipe.ingredient_one }} : {{ recipe.weight_one }}
                </p>
                <p>
                    <strong>Baking Instructions</strong><br>
                    {{ recipe.instruction_one }}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}