{% extends "base.html" %}
{% block content %}

<!-- intro -->
<div class="row">
    <div class="card-panel col s12 m8 offset-m2 recipe-intro-panel">
        <h2 class="recipe-page-heading">Recipe Book</h2>
        <p class="recipe-book-intro">
            Here you can see all the recipes that have been added.
        </p>
    </div>
</div>

<!-- search -->
<div class="row">
    <div class="card-panel col s12 m12 search-card-panel">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8 search-bar">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('recipe_book') }}" class="red darken-1 btn">Reset</a>
                        <button type="submit" class="btn">Search</button>
                    </div>
            </div>
        </form>
    </div>
</div>

<!-- displays all recipe -->
<div>
    {% if recipes|length > 0 %}
    <ul class="collapsible popout recipes-card-panel">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header grey lighten-3">
                <div class="col s3">
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="col s6">
                    <h6 class="recipe_name_heading">{{ recipe.recipe_name }}</h6>
                    <p class="recipe-information">
                        <strong>Recipe Description</strong><br>
                        {{ recipe.recipe_description }}
                    </p>
                </div>
            </div>
            <div class="collapsible-body grey lighten-3"><span></span>
                <p class="recipe-information">
                    <strong>Baking Time:</strong><br>
                    {{ recipe.baking_time }} (minutes)
                </p>
                <p class="recipe-information">
                    <strong>Preparation Time:</strong><br>
                    {{ recipe.preparation_time }} (minutes)
                </p>
                <p class="recipe-information">
                    <strong>Ingredients</strong><br>
                    {{ recipe.ingredient_one }}  {{ recipe.weight_one }}<br>
                    {{ recipe.ingredient_two }}  {{ recipe.weight_two }}<br>
                    {{ recipe.ingredient_three }}  {{ recipe.weight_three }}<br>
                    {{ recipe.ingredient_four }}  {{ recipe.weight_four }}<br>
                    {{ recipe.ingredient_five }}  {{ recipe.weight_five }}<br>
                    {{ recipe.ingredient_six }}  {{ recipe.weight_six }}<br>
                    {{ recipe.ingredient_seven }}  {{ recipe.weight_seven }}<br>
                    {{ recipe.ingredient_eight }}  {{ recipe.weight_eight }}<br>
                </p>
                <p class="recipe-information">
                    <strong>Baking Instructions</strong><br>
                    {{ recipe.instruction_one }}
                </p>
                <p class="recipe-information">
                    <strong>Added By:</strong><br>
                    {{ recipe.added_by }}
                </p>
            </div>
            
        </li>
        {% endfor %}
    </ul>
    <!-- search message -->
    {% else %}
        <h3 class="flash-message">No Results Found</h3>
    {% endif %}
</div>

{% endblock %}