{% extends "base.html" %}
{% block content %}

<!-- sign up form -->
<div class="row">
    <div class="card-panel col s12 m8 offset-m2 login-sign-up-panel">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <h2 class="header center-align">Sign Up</h2>
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix"></i>
                        <input id="username" name="username" type="text" minlength="4"
                            maxlength="12" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="4"
                            maxlength="12" pattern="^[a-zA-Z0-9]{4,12}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- sign up -->
                <div class="row">
                    <div class="col s3"></div>
                    <button type="submit" class="col s6 btn-large">
                        Sign Up
                        <i class="fas fa-user-plus"></i>
                    </button>
                    <div class="col s3"></div>
                </div>
                <div class="row">
                    <p class="sign-up-login-link">
                        Already signed up, <a href="{{ url_for('login') }}">Log In Here</a>
                    </p>
                </div>
        </form>
    </div>
</div>

{% endblock %}